#head1 {
    background-color: black;
    color: white !important;
}
body {
    background-size: cover;
    background-position: center;
    color: cornsilk;
}
p {
    font-size: 18px;
}
#un {
    font-size: 20px;
    color: yellowgreen !important;
}
span {
    color: violet;
}
#h2_1 {
    margin-right: 800px;
    color: orangered;
}
#h2me {
    margin-left: 800px;
    color: orangered;
    margin-top: -40px;
}
